@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1><br><br >
<h3><strong>Welcome to Azwep Solar Panels World, your gateway to a greener future! We are dedicated to promoting clean energy solutions through state-of-the-art solar panels. Our mission is to empower individuals and businesses to embrace sustainability with affordable and efficient solar technology. Explore our range of products and discover how easy it is to make the switch to renewable energy. Join us in creating a cleaner, brighter tomorrow! </strong></h3>
<p>At Azwep Solar Panels World, we are committed to protecting your privacy. We do not collect any personal information, including names, contact details, or any other data from our users, including interactions through chat features. Our website does not use any cookies or tracking technologies. Your privacy is our priority, and we ensure that your browsing activity remains completely anonymous and confidential. Any information you provide while using our website, including through chat, is not stored or used for any purposes beyond immediate communication. For more details on our privacy practices, please feel free to contact us.</p>
<br ><p> Creator - Mayur Kangle </p>
<br > <p>Email :- mayur.m.kangle@gmail.com</p>
<br ><br >